.project
    --bs-card-spacer-x: 2rem
    --bs-card-spacer-y: 2rem
    --bs-card-border-radius: 8px
    --bs-card-inner-border-radius: 0
    --bs-card-bg: #F8F9FA
    --bs-card-cap-bg: transparent
    --bs-card-cap-padding-x: 2rem
    --bs-card-cap-padding-y: 2rem
    @extend .card
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0
    .content
        align-items: baseline
        display: flex
        flex-direction: column-reverse
        justify-content: flex-end
    .list-projects_solutions
        @include media-breakpoint-up(md)
            position: absolute
            right: var(--bs-card-spacer-x)
            top: var(--bs-card-spacer-y)
        @include media-breakpoint-down(md)
            padding-bottom: var(--bs-card-spacer-y)
            padding-left: var(--bs-card-spacer-x)
        li
            @extend .badge
            background-color: white
            border: 1px solid var(--color, #{$gray-800})
            color: var(--color, #{$gray-800})
            margin-left: 0.5rem
            margin-right: 0
    .metas
        display: flex
        font-size: $small-font-size
        margin-top: .25rem
        &,
        time
            color: $text-muted
    a
        @extend .stretched-link
