header[role="banner"]
    font-weight: $font-weight-bold
    position: static
    &.is-sticky
        position: static
    .logo
        @include font-size(1.25rem)
    .nav-language:last-child
        background: $light
        border-radius: $border-radius
        @include media-breakpoint-up(md)
            margin-left: $nav-link-padding-x
            margin-right: 0