.block-pushes
    .card
        border-radius: $border-radius-lg
    .push
        --push-color: white
        @include media-breakpoint-down(md)
            border-radius: 0
            picture 
                display: none
        h3
            font-size: $h3-font-size
            line-height: 1.4
            margin-bottom: .5rem
        p
            @include media-breakpoint-up(md)
                max-width: 65%
        .btn
            --bs-btn-bg: #fff
            --bs-btn-border-color: #fff
            --bs-btn-hover-bg: #efecec
            --bs-btn-hover-border-color: #efecec
            &::before
                content: ""
                margin-right: 0
        img
            filter: invert(1)
            object-fit: contain
            object-position: right
            transform: scale(1.2) translate(-2rem, 2rem)